PORT=5001
MONGO_URI = mongodb+srv://users:kxh8QGfLYR2lVPQd@cluster0.xn31elx.mongodb.net/?appName=Cluster0&compressors=zlib
JWT_SECRET = bvlmnznvnrajjuanuragi


EMAIL_USER =  rajjuanuragi78@gmail.com
EMAIL_PASS =  rajju@11

GMAIL_USER=vv8157406@gmail.com
GMAIL_PASS=ftzi zabo vnzg tgfz


CLOUDINARY_CLOUD_NAME  = wddmya8v
CLOUDINARY_API_KEY = 816961431895943
CLOUDINARY_API_SECRET = YHXbkRRB846FC551p5gWBX3d2Ao