PORT=5001
MONGO_URI = mongodb+srv://users:kxh8QGfLYR2lVPQd@cluster0.xn31elx.mongodb.net/?appName=Cluster0&compressors=zlib
JWT_SECRET = bvlmnznvnrajjuanuragi


EMAIL_USER =  random@gmail.com
EMAIL_PASS =  random@11

GMAIL_USER=random@gmail.com
GMAIL_PASS=random password


CLOUDINARY_CLOUD_NAME  = random
CLOUDINARY_API_KEY = random
CLOUDINARY_API_SECRET = random